.vscode
*.png
/adpkd_segmentation.egg-info/
*.dcm
*.npy
*.pth
*.swp
*test.py
test/
*.json
tb_logs/
/data/data_config.py
__pycache__/
/experiments/
/adpkd_segmentation/inference/test/
/checkpoints/
/old_requirements/
*.csv
