albumentations==1.0.3
catalyst==20.8.2
nibabel==3.2.1
#nvidia-cublas-cu11==11.10.3.66
#nvidia-cuda-nvrtc-cu11==11.7.99
#nvidia-cuda-runtime-cu11==11.7.99
#nvidia-cudnn-cu11==8.5.0.96
opencv-python-headless==4.5.3.56
pydicom==2.3.0
seaborn==0.11.1
segmentation-models-pytorch~=0.2.0
SimpleITK==2.0.2
torch==1.13.1
torchvision==0.14.1
